# Save as .gitignore in root of repo
# Time-stamp: <2015-01-09 21:43:48 waikeung.yiu>

# Project specific ignores
*.aux
*.log
*.out
*.pdf
*.toc

### Windows

# image file caches
Thumbs.db
ehthumbs.db

# folder config file
Desktop.ini

# recycle bin used on file shares
$RECYCLE.BIN/

# installer files
*.cab
*.msi
*.msm
*.msp

# shortcuts
*.lnk

### OSX
.DS_Store
.AppleDouble
.LSOverride

# thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Emacs
\#*\#
*~
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
**/auto/

# cask packages
.cask/`

### Eclipse
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.project
.settings/
.loadpath
.externalToolBuilders/
*.launch

### Maven
target/